
*{
    margin: 0px;
    padding: 0px;

}
.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    margin-top: 120px;
}

#inputes{
    margin-top: 20px;
}

#table{
  margin-top: 20px;
  width: 605px;
}